*{
    font-family: 'nunito', 'roboto' sans-serif;
    font-size: 12px;
}
body{
    background-color: white;
}
h2{
    font-family: 'Dingos Stamp';
    font-size: 32px;
}
.container{
    width: 1212px;
    height: 622px;
    text-align: center;
    margin: 0 auto 0;
    padding: 30px;
    display: flex;
}
.flor-petalas{
    background-color: #F48B48;
    height: 100px;
    width: 100px;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    text-align: center;
}
.amarelo{
    background-color: #FFD34E;
}
.laranja{
    background-color: #F48B48;
}
.foto{
    background-color: #efa5b6;
}
.imgGato{
    display: inline-block;
    width: 50%;
}